
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" href="/task/static/css/style.css">
 
</head>

<body style="text-align: center; background-color: rgba(167, 171, 180, 0.521);">
    <nav style="margin-block-end: auto; background-color: black; color: whitesmoke; width: 100% ; height: 100px; text-align: center;font-size: xxx-large; padding-top: 25px; "  class="navbar navbar-light bg-light">
        <span class="navbar-text">
          Login
        </span>
      </nav>
    <form method="POST" ">
        {% csrf_token %}
        {{ form.as_p }}
        <button type="submit" >Entrar</button>
    </form>
    <button type="button" class="btn btn-primary" data-toggle="button" aria-pressed="false" autocomplete="off" <a href="{% url 'password_reset' %}" >
        esqueci a senha
      </button>
    
</body>


</html>
